<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    
    <h1>Hello Mundo</h1>

    <a href='/'>oi</a>

    <a href='/guia_de_raca'>aa</a>


    <form action="/cadastrar" method="post">

       Nome: <input type="text" name="nome" id="nome" placeholder="digite aqui seu nome:" required>
       <p></p>
       Senha: <input type="password" name="senha" id="senha" placeholder="digite aqui seu nome" required>
       <p></p>
       e-mail: <input type="email" name='email' id="email" placeholder="Digite o seu E-mail" required> 


        <p></p>
       
       <button type="submit">Cadastrar</button>


    </form>

    

</body>
</html>